<title><%= page_title %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="<%= page_description %>">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<% if @active_list && @active_list.id == 1 %>
  <link rel="stylesheet" href="/stylesheets/forms.css<%= cache_buster %>" >
  <style> 
    :root {
      --font-family: "Plus Jakarta Sans" !important;
    }
  </style>
<% else %>
<% end %>

<link rel="stylesheet" href="/vendor/statictailwind/1.0.1.css">
<link rel="stylesheet" href="/stylesheets/styles.css<%= cache_buster %>">
<link rel="stylesheet" href="/stylesheets/tonic23.css<%= cache_buster %>">  

<script src="/js/custom.js<%= cache_buster %>" defer></script>
<script src="/vendor/htmx/1.9.9.js" defer></script>
<script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
<script src="/vendor/mini/1.0.5.js" ></script>

<script src="/vendor/codemirror/5.65.2.js" ></script>
<script src="/vendor/codemirror/xml.min.js" ></script>
<link href="/vendor/codemirror/codemirror.css<%= cache_buster %>" rel="stylesheet" >
<link href="/vendor/codemirror/codemirror.min.css" rel="stylesheet" media="screen" />

<script src="/vendor/easymde/2.18.0.js" ></script>
<link  href="/vendor/easymde/easymde.min.css" rel="stylesheet" media="screen" />

<link  href="/vendor/highlight/tomorrow-night-blue.css<%= cache_buster %>" rel="stylesheet" media="screen" />
<script src="/vendor/highlight/10.7.2.min.js" ></script>
<script src="/vendor/highlight/languages/erb.min.js" ></script>

<% if ENV["OFFLINE_DEV"].present? %>


<% else %>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap" rel="stylesheet">

  <noscript>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap" rel="stylesheet">
  </noscript>

<% end %>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
