<script>
  showListsDropdown = false
</script>
<div class="hidden p-6 bg-gray-100">
  <div class="relative">
    <div class="border-2 border-gray-300 w-full bg-white rounded px-4 py-2 hover:bg-gray-100 cursor-pointer flex justify-between" :click="showListsDropdown = !showListsDropdown" >
      <span>
        <% if @active_list %>
          <%= @active_list.name %>
        <% else %>
          Select List
        <% end %>
      </span>
      <%= inline_svg("heroicons/chevron-down.svg",class:"w-4") %>
    </div>
    <div class="relative">
      <div class="transition ease-out duration-100 shadow opacity-0 absolute top-2 right-0 left-0 bg-white" :class="showListsDropdown ? 'transform opacity-100 scale-100' : 'transform opacity-0 scale-95 pointer-events-none' " >
        <% @lists.each do |list| %>
          <a class="px-4 py-2 hover:bg-gray-100 cursor-pointer block" href="<%= recipes_path(list_id:list.id) %>" >
            <%= list.name %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="pr-5 text-center md:text-right">
  <img class="w-20 my-10 inline" src="/images/mini.png" />
  <h2 class="font-bold text-lg">
    Introduction
  </h2>
  <div class="color-group-odin md:text-right">
    <a href="<%= root_path %>" class="block py-2 <%= 'active' if current_page?(root_path) %>">
      About
    </a>
    <a href="<%= reference_path %>" class="block py-2 <%= 'active' if current_page?(reference_path) %>">
      Reference
    </a>
    <a href="<%= examples_path %>" class="block py-2 <%= 'active' if current_page?(examples_path) %>">
      Examples
    </a>
  </div>
</div>