<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <%= render :partial=> "shared/head" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/tomorrow-night-blue.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/erb.min.js"></script>
  </head>
  <body class="relative h-full">
    <%= render :partial => "shared/partial_containers" %>
    <div class="m-auto shadow px-8 py-4" style="max-width:1000px">
      <div class="rounded-full shadow-lg p-1 my-5 m-auto flex mb-10" style="max-width: 308px">
        <a class="transition-all rounded-full px-4 py-1 <%= current_page?(root_path) ? 'bg-gray-900 text-white' : 'hover:bg-gray-100' %>" href="<%= root_path %>">
          Docs
        </a>
        <a class="transition-all rounded-full px-4 py-1 <%= current_page?(examples_path) ? 'bg-gray-900 text-white' : 'hover:bg-gray-100' %>" href="<%= examples_path %>">
          Components
        </a>
        <a class="transition-all rounded-full px-4 py-1 <%= current_page?(recipes_path) ? 'bg-gray-900 text-white' : 'hover:bg-gray-100' %>" href="<%= recipes_path %>">
          Recipes
        </a>
      </div>
      <div id="main-content" class="h-full">
        <%= yield %>
      </div>
    </div>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
      });
    });
  </script>
</html>
